body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #22f009 30%,#ffe6a1 100%);
    min-height: 100vh;
}


.container{
    display: flex;
    flex-direction: column;
}


h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
